In [12]:
import numpy as np
import pandas as pd
import os, time
from matplotlib import pyplot as plt
import seaborn as sns

In [34]:
complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/Phase_I_II/input/wide/344_zf_morphology_data_phase_1_and_2_-_2020JUNE25_wide_DNC_0.csv'
#complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/Phase_I_II/input/wide/head.csv'

morphological_data = pd.read_csv(complete_file_path, header = 0)
display(morphological_data.head())

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRAI,CFIN,CIRC,DNC_,...,PE__,PFIN,PIG_,SM24,SNOU,SOMI,SWIM,TRUN,TR__,YSE_
0,53,9289,A01,53_9289_A01,50.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,53,9289,A02,53_9289_A02,35.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,53,9289,A03,53_9289_A03,11.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,53,9289,A04,53_9289_A04,5.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,53,9289,A05,53_9289_A05,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
chemical_id_count = 0
for chemical_id in np.unique(morphological_data['chemical.id']):
    chemical_id_count += 1
print ("chemical_id_count:"+str(chemical_id_count))

chemical_id_count:342

In [37]:
chemical_id_plate_id_count = 0
for chemical_id in np.unique(morphological_data['chemical.id']):
    located = morphological_data.loc[morphological_data['chemical.id'] == chemical_id,['chemical.id', 'plate.id']]
    for plate_id in np.unique(located['plate.id']):
        chemical_id_plate_id_count += 1
print ("chemical_id_plate_id_count:"+str(chemical_id_plate_id_count))

chemical_id_plate_id_count:760